<%= form_tag password_resets_path, method: :post do %>
  <div class="field">
    <p class="control has-icons-left">
      <%= email_field_tag :email, nil, class: 'input is-large', placeholder: "your@email.com", required: true %>
      <span class="icon is-small is-left">
        <%= icon('fal', 'user', class: 'fa-lg', title: '') %>
      </span>
    </p>
  </div>

  <br>
  <%= submit_tag "SEND EMAIL INSTRUCTIONS", class: 'button is-info is-rounded password-reset-button' %>
<% end %>
<div class="back-link">
  <%= link_to 'Back to Login', login_path, class: "back-link-path" %>
</div>
