<div class="<%= headerclass %>">
  <%= render 'layouts/user_nav/sub_nav_toggle' %>
  <div class="header-text">
    <i class="far fa-<%= icon%> icon" title="<%= title %>"></i>
    <span class="is-size-6"><%= title %></span>
  </div>
</div>