<p id="notice"><%= notice %></p>
<div class="container">

  <h1 class="title">Temp Athletes</h1>
  <div class="level">
    <div class="level-left">
      <%= link_to 'Add Athlete', new_temp_athlete_path, class: 'button is-primary is-outlined' %>
    </div>
    <div class="level-right">
      <%= form_tag(temp_athletes_path, method: :get) do %>
      <div class="field is-grouped">
        <%= render partial: 'layouts/form_helpers/per_page_dropdown' %>
        <%= text_field_tag :search, params[:search], placeholder: 'Search by first or last name, twitter handle, or email', class: 'input', style:'width: 410px' %>
        <%= submit_tag "Search", class: 'button is-info' %>
      </div>
      <% end %>
      </div>
    </div>

    <table class="table is-striped is-narrow is-hoverable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Grad Year</th>
          <th>Positions</th>
          <th>First Name</th>
          <th>Last name</th>
          <th>Address</th>
          <th>State</th>
          <th>City</th>
          <th>Zip Code</th>
          <th>Twitter Handle</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>High School Name</th>
          <th>High School State</th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @temp_athletes.each do |temp_athlete| %>
          <tr>
            <td><%= temp_athlete.id %></td>
            <td><%= temp_athlete.grad_year %></td>
            <td><%= temp_athlete.positions %></td>
            <td><%= temp_athlete.first_name %></td>
            <td><%= temp_athlete.last_name %></td>
            <td><%= temp_athlete.address %></td>
            <td><%= temp_athlete.state %></td>
            <td><%= temp_athlete.city %></td>
            <td><%= temp_athlete.zip_code %></td>
            <td><%= temp_athlete.twitter_handle %></td>
            <td><%= temp_athlete.mobile %></td>
            <td><%= temp_athlete.email %></td>
            <td><%= temp_athlete.hs_name %></td>
            <td><%= temp_athlete.hs_state %></td>
            <!-- <td><%#= link_to 'Show', temp_athlete %></td> -->
            <td>
              <%= link_to temp_athlete do %>
                <span class="icon has-text-info">
                  <i class="far fa-id-card"></i>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_temp_athlete_path(temp_athlete) do %>
                <span class="icon has-text-info">
                  <i class="fas fa-edit"></i>
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to temp_athlete, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <span class="icon has-text-danger">
                  <i class="fas fa-trash-alt"></i>
                </span>
              <% end %>
            </td>
      </tr>
      <% end if @temp_athletes %>
      </tbody>
    </table>

    <%= will_paginate @temp_athletes, renderer: BulmaPagination::Rails, class: 'is-centered is-small is-rounded' %>
  </div>
